.container {
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    width: 100%;
}

.title h2 {
    text-align: center;
}

.tic-tac {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px;
    width: 100%;

}

.d-flex {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.w-300 {
    width: 100%;
}

.btn {
    width: 100px;
    margin: 5px 10px;
    border: 0;
    border-radius: 10px;
    border:1px solid #c3c3c3;
    height: 30px;
    background: #ffffff;
}
.btn:hover{
    box-shadow: 2px 1px 1px #c3c3c3 ;
}
*:focus{
    outline: 0px;
}

button:hover{
    cursor: pointer;
}

.boder_tic-tac {
    height: 500px;
}
.btn-reset{
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    background: #36d236;
    color: #fff;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
}
.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:first-child {
    border-bottom: 2px solid;
}
.box:hover{
    cursor: pointer;
}
.box:nth-child(2),
.box:nth-child(5) {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 0px;
}

.box:nth-child(3),
.box:nth-child(6) {
    border-bottom: 2px solid;
}

.box:nth-child(4) {
    /* border-right: 2px solid; */
    border-bottom: 2px solid;
}

.box:nth-child(8) {
    border-left: 2px solid;
    border-right: 2px solid;
}
.writeTurn{
    /* font-size: 35px; */
    font-weight: bolder;
    font-family: cursive;

}
strong::before{
    content: 'Turno de ';
}