:root {
    --bg-btn-burger: #c3c3c3;
    --offset: 187;
    --duration: 1.4s;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', 'sand-serif';
}

.spinner {
    animation: rotation 1.4s linear infinite;
    /* stroke: violet; */
    /* stroke-dasharray: 187; */
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: calc(187/4);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}